@model IEnumerable<SquashLegaue.Models.GameResult>

@{
    ViewBag.Title = "ListGames";
}

<h2>ListGames</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player1Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player1Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2Score)
        </td>
        <td>
           <!-- @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |-->
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
